name: Run tests, build docker image and deploy

on:
  push:
    branches:
      - develop
      - master
      - feature/pmh-148

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  CERTIFICATE_PATH: /certs
  CERTIFICATE_LOCAL_PATH: certificates
  DOCKER_COMPOSE_FILE: docker-compose.yml
  DOCKER_COMPOSE_DIRECTORY: /usr/src/docker/compose/
  NGINX_CONF_FILE: main.conf
  NGINX_CONF_REMOTE_FILE: main.conf
  NGINX_CONF_DIRECTORY: /nginx/

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: maven

    - name: Run tests
      run: mvn test -P test

    - name: Package with Maven
      run: mvn clean package

    - name: Log in to the Container registry
      uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@v3
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

    - name: Build and push Docker image
      uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }},ghcr.io/fmh-charity/fmh-backend:latest
        labels: ${{ steps.meta.outputs.labels }}

    - name: Copy certificates to remote
      uses: garygrossgarten/github-action-scp@release
      with:
        local: ${{ env.CERTIFICATE_LOCAL_PATH }}
        remote: ${{ env.DOCKER_COMPOSE_DIRECTORY }}${{ env.CERTIFICATE_PATH }}
        host: ${{ secrets.REMOTE_HOST }}
        username: ${{ secrets.REMOTE_USER }}
        privateKey : ${{ secrets.SSH_KEY }}

    - name: Copy docker-compose file to remote
      uses: garygrossgarten/github-action-scp@release
      with:
        local: ${{ env.CERTIFICATE_PATH }}
        remote: ${{ env.DOCKER_COMPOSE_DIRECTORY }}${{ env.CERTIFICATE_PATH }}
        host: ${{ secrets.REMOTE_HOST }}
        username: ${{ secrets.REMOTE_USER }}
        privateKey : ${{ secrets.SSH_KEY }}

    - name: Copy nginx config file to remote
      uses: garygrossgarten/github-action-scp@release
      with:
        local: ${{ env.NGINX_CONF_FILE }}
        remote: ${{ env.DOCKER_COMPOSE_DIRECTORY }}${{ env.NGINX_CONF_DIRECTORY }}${{ env.NGINX_CONF_REMOTE_FILE }}
        host: ${{ secrets.REMOTE_HOST }}
        username: ${{ secrets.REMOTE_USER }}
        privateKey : ${{ secrets.SSH_KEY }}

    - name: Deploy
      uses: appleboy/ssh-action@v0.1.4
      with:
        host: ${{ secrets.REMOTE_HOST }}
        username: ${{ secrets.REMOTE_USER }}
        key: ${{ secrets.SSH_KEY }}
        script: 'cd /usr/src/docker/compose && docker-compose stop && yes | docker-compose rm && docker-compose pull && docker-compose up -d'
