name: Run tests, build docker image and deploy

on:
  push:
    branches:
      - develop
      - master

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  CERTIFICATE_PATH: /certs
  CERTIFICATE_LOCAL_PATH: certificates
  DOCKER_COMPOSE_FILE: docker-compose.yml
  DOCKER_COMPOSE_DIRECTORY: /usr/src/docker/
  NGINX_CONF_FILE: main.conf
  NGINX_CONF_REMOTE_FILE: main.conf
  NGINX_CONF_DIRECTORY: /nginx/

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'adopt'
        cache: maven

    - name: Run tests
      run: mvn test -P test -pl backend -am

    - name: Package with Maven
      run: mvn clean package -P dev -pl backend -am

    - name: Log in to the Container registry
      uses: docker/login-action@d398f07826957cd0a18ea1b059cf1207835e60bc
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@v3
      with:
        images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

    - name: Build and push Docker image
      uses: docker/build-push-action@4c2810ab91206d25f3659f1d071b3b189e14ae1c
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }},ghcr.io/fmh-charity/fmh-backend:latest
        labels: ${{ steps.meta.outputs.labels }}

    - name: Deploy
      uses: appleboy/ssh-action@v0.1.4
      with:
        host: ${{ secrets.REMOTE_HOST }}
        port: ${{ secrets.REMOTE_PORT }}
        username: ${{ secrets.REMOTE_USER }}
        key: ${{ secrets.SSH_KEY }}
        script: 'cd /usr/src/docker && docker-compose stop && yes | docker-compose pull && docker-compose up -d'
